{% extends 'base.html' %}
{% load static %}
{% block title %}添加数据{% endblock %}
{% block css_block %}

{% endblock %}

{% block content %}
    <form method="post" action="{% url 'material:modifys' material.id %}">
    {% csrf_token %}

          <label>物料名称 <input type="text" name="resinName" id="resinName" value="{{ material.resinName }}"></label>
           <label>压缩因子 <input type="text" name="compactFactor" id="compactFactor" value="{{ material.compactFactor }}"></label>
<br/>
            <td><label>填料类型 <input type="text" name="resinaType" id="resinaType" value="{{ material.resinaType }}"></label>
            <td><label>保存方法 <input type="text" name="storageMethod" id="storageMethod" value="{{ material.storageMethod }}"></label>

        <br />
            <label>产家 <input type="text" name="brand" id="brand" value="{{ material.brand }}"></label>
            <label>DBC(mg/ml) <input type="text" name="dbc" id="dbc" value="{{ material.dbc }}"></label>

        <br />
           <label>基质 <input type="text" name="matrix" id="matrix" value="{{ material.matrix }}"></label></td>
            <label>项目生产载量范围 <input type="text" name="LoadingRangeinProject" id="LoadingRangeinProject" value="{{ material.LoadingRangeinProject }}"></label>

        <br>
            <label>功能基团 <input type="text" name="ligand" id="ligand" value="{{ material.ligand }}"></label>
            <label>装柱最大流速压力 <input type="text" name="PackingVmaxandPmax" id="PackingVmaxandPmax" value="{{ material.PackingVmaxandPmax }}"></label>

        <br>
            <label>直径 <input type="text" name="diameter" id="diameter" value="{{ material.diameter }}"></label>
            <label>有效期 <input type="text" name="expiry" id="expiry" value="{{ material.expiry }}"></label>

        <br>
            <label>耐受压力类型 <input type="text" name="Pmax" id="Pmax" value="{{ material.Pmax }}"></label>
            <label>装柱方法 <select name="TypeofColomuPackingMethod" id="TypeofColomuPackingMethod">
                <option value="A" {% if material.TypeofColomuPackingMethod == 'A' %} selected {% endif %}>A</option>
                <option value="B" {% if material.TypeofColomuPackingMethod == 'B' %} selected {% endif %}>B</option>
                <option value="C" {% if material.TypeofColomuPackingMethod == 'C' %} selected {% endif %}>C</option>
                <option value="D" {% if material.TypeofColomuPackingMethod == 'D' %} selected {% endif %}>D</option>
                <option value="E" {% if material.TypeofColomuPackingMethod == 'E' %} selected {% endif %}>E</option>
            </select>
            </label>

        <br />
            <label>PH范围 <input type="text" name="phRange" id="phRange" value="{{ material.phRange }}"></label>
            <label>装柱方法详细 <input type="text" name="ColomuPackingMethod" id="ColomuPackingMethod" value="{{ material.ColomuPackingMethod}}"></label>

        <br>
           <input type="submit" name="submit" id="submit" value="修改">

    </form>
{% endblock %}