{% extends 'base.html' %}
{% load static %}

{% block title %}DSPD Data Center{% endblock %}
{% block css_block %}
{#<link href="./index_forms.css" rel="stylesheet" type="text/css" />#}
    <style>
    .divnav{
        border:1px solid green;
        width:400px;
        height:80px;
        padding:20px;
        margin:20px;
        text-align:center;
        line-height: 80px;
        font-size:40px;
        color:black;
    }
    a{
        text-decoration: none;
    }

    </style>
{% endblock %}
{% block content %}
    <header>
        <h2>DSPD Data center</h2>
    </header>
    <div>
        <div class="divnav"><a href="{% url 'material:index' %}">Resin Library</a></div>
        <div class="divnav"><a href="{% url 'issues:index' %}">异常情况统计</a></div>
        <div class="divnav"><a href="{% url 'columnstatictis:index' %}">装柱流速和压力统计表</a></div>
    </div>
{% endblock %}