{% extends 'base.html' %}
{% load static %}
{% block title %}添加数据{% endblock %}
{% block css_block %}

{% endblock %}

{% block content %}
    <form method="post" action="{% url 'columnstatictis:addtion' %}">
    {% csrf_token %}

          <label>填料名称 <input type="text" name="resin" id="resin"></label>
           <label>装柱项目 <input type="text" name="packingproject" id="packingproject"></label>
<br/>
            <td><label>层析柱编号 <input type="text" name="columnid" id="columnid"></label>
            <td><label>填料编号 <input type="text" name="resinid" id="resinid"></label>

        <br />
            <label>最低装柱流速 <input type="text" name="minipackingvelocity" id="minipackingvelocity"></label>
            <label>最高装柱流速 <input type="text" name="maxpackingvelocity" id="maxpackingvelocity"></label>

        <br />
           <label>装柱压力 <input type="text" name="packingpressure" id="packingpressure"></label></td>
            <label>生产流速 <input type="text" name="productionvelocity" id="productionvelocity"></label>

        <br>
            <label>柱高 <input type="text" name="columnheight" id="columnheight"></label>
            <label>层析柱直径 <input type="text" name="columndimeter" id="columndimeter"></label>

        <br>
            <label>对称性 <input type="text" name="symmetry" id="symmetry"></label>
            <label>HETP <input type="text" name="hetp" id="hetp"></label>

        <br>
            <label>备注 <input type="text" name="comment" id="comment"></label>

        <br>
           <input type="submit" name="submit" id="submit" value="添加">

    </form>
{% endblock %}