{% extends 'base.html' %}
{% load static %}
{% block title %}添加数据{% endblock %}
{% block css_block %}

{% endblock %}

{% block content %}
    <form method="post" action="{% url 'columnstatictis:modifys' column.id %}">
    {% csrf_token %}
        <table class="add_modifition">
            <tr>
                <td><label for="resin">填料名称: </label></td><td><input type="text" name="resin" id="resin" value="{{ column.resin.resinName }}"></td>
                <td><label for="packingproject">装柱项目: </label></td><td><input type="text" name="packingproject" id="packingproject" value="{{ column.packingproject }}"></td>
            </tr>
            <tr>
                <td><label for="columnid">层析柱编号:</label></td><td> <input type="text" name="columnid" id="columnid" value="{{ column.columnid }}"></td>
                <td><label for="resinid">填料编号: </label></td><td> <input type="text" name="resinid" id="resinid" value="{{ column.resinid }}"></td>
            </tr>
            <tr>
                <td><label for="minipackingvelocity">最低装柱流速:</label></td><td><input type="text" name="minipackingvelocity" id="minipackingvelocity" value="{{ column.minipackingvelocity }}"></td>
                <td><label for="maxpackingvelocity">最高装柱流速: </label></td><td> <input type="text" name="maxpackingvelocity" id="maxpackingvelocity" value="{{ column.maxpackingvelocity }}"></td>
            </tr>
            <tr>
                <td><label for="packingpressure">装柱压力:</label></td><td> <input type="text" name="packingpressure" id="packingpressure" value="{{ column.packingpressure }}"></td>
                <td><label for="productionvelocity">生产流速: </label></td> <td><input type="text" name="productionvelocity" id="productionvelocity" value="{{ column.productionvelocity }}"></td>
            </tr>
            <tr>
                <td><label for="columnheight">柱高:</label></td><td><input type="text" name="columnheight" id="columnheight" value="{{ column.columnheight }}"></td>
                <td><label for="columndimeter">层析柱直径:</label></td><td> <input type="text" name="columndimeter" id="columndimeter" value="{{ column.columndimeter }}"></td>
            </tr>
            <tr>
                <td><label for="symmetry">对称性:</label></td><td> <input type="text" name="symmetry" id="symmetry" value="{{ column.symmetry }}"></td>
                <td><label for="hetp">HETP: </label></td><td> <input type="text" name="hetp" id="hetp" value="{{ column.hetp }}"></td>
            </tr>
            <tr>
                <td><label for="comment">备注: </label></td><td> <input type="text" name="comment" id="comment" value="{{ column.comment }}"></td>
            </tr>
        </table>
           <input type="submit" name="submit" id="submit" value="修改">

    </form>
{% endblock %}