{#<p><span><a href="{% url 'index:index' %}">首页</span>&nbsp;&nbsp;&nbsp;<a href="{% url 'account:user_login' %}">登录</a>&nbsp;&nbsp;&nbsp;<a href="{% url 'account:user_logout' %}">LogOut</a></p>#}
<div class="header">
<ul class="header1">
    <li><a href="{% url 'index:index' %}">首页</a></li>
    <li><a href="{% url 'material:index' %}">Resin Library</a></li>
    <li><a href="{% url 'issues:index' %}">异常情况统计</a></li>
    <li><a href="{% url 'columnstatictis:index' %}">装柱流速和压力统计表</a></li>
    <li><a href="{% url 'termlist:index' %}">填料申请表</a></li>
</ul>
<ul class="header2">
    {% if user.is_authenticated %}
        <li><a href="#">{{ user.username }}</a></li>
        <li><a href="{% url 'account:user_logout' %}">LogOut</a></li>
    {% else %}
        <li><a href="{% url 'account:user_login' %}">登录</a></li>
    {% endif %}
    <li><a href="{% url 'account:register' %}">注册</a></li>
</ul>
</div>